#create-post {
    z-index: 1001;
    position: fixed;
    width: 100%;
    min-height: calc(100vh - 56px);
    overflow-y: scroll;
    bottom: 0;
    top: 56px;
    background: white;
    text-align: center;
    transform: translateY(100vH);
    transition: transform 0.3s;
}

#create-post #pick-image {
    display: none;
}

#create-post #player, #create-post #canvas {
    width: 512px;
    max-width: 100%;
    display: none;
    margin: auto;
}

#create-post .map {
    height: 40%;
    width: 100%;
    display: none;
}

#create-post #pick-image, #create-post #location-loader {
    display: none;
}

#create-post #capture-btn {
    margin: 10px auto;
}

.mdl-spinner {
    margin: auto;
}

.main-image {
    max-width: 100%;
    margin: auto;
    display: block;
}

.whiteText {
    color: white;
}

.floating-button {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 30px;
}

.input-section {
    display: block;
    margin: 10px auto;
}

.shared-moment-card.mdl-card {
    margin: 10px;
}

.shared-moment-card .mdl-card__title {
    height: 300px;
    border-radius: 5px;
    background-size: 100% 100%;
}

@media (min-width: 300px) {

    #shared-moments{
        /* flex-direction: column;*/
        padding: 30px;
        float: none;
        margin:20px;

        /*grid-auto-flow: column;*/
        display: grid;
        grid-gap: 2px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 600px) {

    #shared-moments{
        /* flex-direction: column;*/
        padding: 30px;
        float: none;
        margin:20px;

        /*grid-auto-flow: column;*/
        display: grid;
        grid-gap: 2px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {

    #shared-moments{
        /* flex-direction: column;*/
        padding: 30px;
        float: none;
        margin:20px;

        /*grid-auto-flow: column;*/
        display: grid;
        grid-gap: 2px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {

    #shared-moments{
        /* flex-direction: column;*/
        padding: 30px;
        float: none;
        margin:20px;

        /*grid-auto-flow: column;*/
        display: grid;
        grid-gap: 2px;
        grid-template-columns: repeat(4, 1fr);
    }
}
/*
.shared-moment-card .mdl-card__title {
    height: 250px;
}
*/
@media (min-height: 600px) {
    .shared-moment-card .mdl-card__title {
        height: 300px;
    }
}

@media (min-height: 1200px) {
    .shared-moment-card .mdl-card__title {
        height: 380px;
    }
}